<!--Component.message title="Highway!">
 To Hell!
</Component.message -->

<Component.hero content="Survey">
  Please fill out our survey
</Component.hero>

<%= if @demographic do %>
  <DemographicLive.Show.details demographic={@demographic} />
<% else %>
  <.live_component module={DemographicLive.Form}
    id="demographic-form"
    current_user={@current_user} />  
<% end %>
